In [7]:
import pandas as pd
from pathlib import Path

CAMINHO_ORIGEM = Path("C:/Projetos/pto_nasa/data/NASA_Exoplanet_Composite.csv")

try:
    df = pd.read_csv(CAMINHO_ORIGEM, encoding="utf-8", sep=",")
    print("‚úÖ Linhas:", len(df))
    print("‚úÖ Colunas:", df.columns.tolist()[:10])  # mostra as 10 primeiras
except Exception as e:
    print("‚ùå Erro ao carregar:", e)

‚úÖ Linhas: 5483
‚úÖ Colunas: ['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name', 'tic_id', 'gaia_id', 'sy_snum', 'sy_pnum']

In [8]:
#Padronizar nomes de colunas

df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^\w\s]", "", regex=True)
)

In [9]:
#Remover colunas irrelevantes

colunas_remover = [col for col in df.columns if col.endswith("_reflink") or col.endswith("_flag")]
df.drop(columns=colunas_remover, inplace=True, errors="ignore")
df.dropna(axis=1, how="all", inplace=True)

In [10]:
#Converter colunas num√©ricas (mesmo que estejam como texto com v√≠rgula ou ponto)

for col in df.columns:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(",", ".")
        .replace("nan", pd.NA)
    )
    try:
        df[col] = pd.to_numeric(df[col], errors="coerce")
    except:
        pass

In [11]:
#Diagn√≥stico r√°pido do DataFrame

# Ver as dimens√µes do DataFrame
print("üìê Dimens√µes:", df.shape)

# Ver os nomes das colunas
print("üßæ Colunas:", df.columns.tolist())

# Ver os primeiros registros
df.head()

üìê Dimens√µes: (5483, 241)
üßæ Colunas: ['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name', 'tic_id', 'gaia_id', 'sy_snum', 'sy_pnum', 'sy_mnum', 'discoverymethod', 'disc_year', 'disc_refname', 'disc_pubdate', 'disc_locale', 'disc_facility', 'disc_telescope', 'disc_instrument', 'pl_orbper', 'pl_orbpererr1', 'pl_orbpererr2', 'pl_orbperlim', 'pl_orbsmax', 'pl_orbsmaxerr1', 'pl_orbsmaxerr2', 'pl_orbsmaxlim', 'pl_rade', 'pl_radeerr1', 'pl_radeerr2', 'pl_radelim', 'pl_radj', 'pl_radjerr1', 'pl_radjerr2', 'pl_radjlim', 'pl_bmasse', 'pl_bmasseerr1', 'pl_bmasseerr2', 'pl_bmasselim', 'pl_bmassj', 'pl_bmassjerr1', 'pl_bmassjerr2', 'pl_bmassjlim', 'pl_bmassprov', 'pl_dens', 'pl_denserr1', 'pl_denserr2', 'pl_denslim', 'pl_orbeccen', 'pl_orbeccenerr1', 'pl_orbeccenerr2', 'pl_orbeccenlim', 'pl_insol', 'pl_insolerr1', 'pl_insolerr2', 'pl_insollim', 'pl_eqt', 'pl_eqterr1', 'pl_eqterr2', 'pl_eqtlim', 'pl_orbincl', 'pl_orbinclerr1', 'pl_orbinclerr2', 'pl_orbincllim', 'pl_tranmid', 'pl_tranmiderr1', 'pl_tranmiderr2', 'pl_tranmidlim', 'pl_tranmid_systemref', 'pl_imppar', 'pl_impparerr1', 'pl_impparerr2', 'pl_impparlim', 'pl_trandep', 'pl_trandeperr1', 'pl_trandeperr2', 'pl_trandeplim', 'pl_trandur', 'pl_trandurerr1', 'pl_trandurerr2', 'pl_trandurlim', 'pl_ratdor', 'pl_ratdorerr1', 'pl_ratdorerr2', 'pl_ratdorlim', 'pl_ratror', 'pl_ratrorerr1', 'pl_ratrorerr2', 'pl_ratrorlim', 'pl_occdep', 'pl_occdeperr1', 'pl_occdeperr2', 'pl_occdeplim', 'pl_orbtper', 'pl_orbtpererr1', 'pl_orbtpererr2', 'pl_orbtperlim', 'pl_orbtper_systemref', 'pl_orblper', 'pl_orblpererr1', 'pl_orblpererr2', 'pl_orblperlim', 'pl_rvamp', 'pl_rvamperr1', 'pl_rvamperr2', 'pl_rvamplim', 'pl_projobliq', 'pl_projobliqerr1', 'pl_projobliqerr2', 'pl_projobliqlim', 'pl_trueobliq', 'pl_trueobliqerr1', 'pl_trueobliqerr2', 'pl_trueobliqlim', 'st_spectype', 'st_teff', 'st_tefferr1', 'st_tefferr2', 'st_tefflim', 'st_rad', 'st_raderr1', 'st_raderr2', 'st_radlim', 'st_mass', 'st_masserr1', 'st_masserr2', 'st_masslim', 'st_met', 'st_meterr1', 'st_meterr2', 'st_metlim', 'st_metratio', 'st_lum', 'st_lumerr1', 'st_lumerr2', 'st_lumlim', 'st_logg', 'st_loggerr1', 'st_loggerr2', 'st_logglim', 'st_age', 'st_ageerr1', 'st_ageerr2', 'st_agelim', 'st_dens', 'st_denserr1', 'st_denserr2', 'st_denslim', 'st_vsin', 'st_vsinerr1', 'st_vsinerr2', 'st_vsinlim', 'st_rotp', 'st_rotperr1', 'st_rotperr2', 'st_rotplim', 'st_radv', 'st_radverr1', 'st_radverr2', 'st_radvlim', 'rastr', 'ra', 'decstr', 'dec', 'glat', 'glon', 'elat', 'elon', 'sy_pm', 'sy_pmerr1', 'sy_pmerr2', 'sy_pmra', 'sy_pmraerr1', 'sy_pmraerr2', 'sy_pmdec', 'sy_pmdecerr1', 'sy_pmdecerr2', 'sy_dist', 'sy_disterr1', 'sy_disterr2', 'sy_plx', 'sy_plxerr1', 'sy_plxerr2', 'sy_bmag', 'sy_bmagerr1', 'sy_bmagerr2', 'sy_vmag', 'sy_vmagerr1', 'sy_vmagerr2', 'sy_jmag', 'sy_jmagerr1', 'sy_jmagerr2', 'sy_hmag', 'sy_hmagerr1', 'sy_hmagerr2', 'sy_kmag', 'sy_kmagerr1', 'sy_kmagerr2', 'sy_umag', 'sy_umagerr1', 'sy_umagerr2', 'sy_gmag', 'sy_gmagerr1', 'sy_gmagerr2', 'sy_rmag', 'sy_rmagerr1', 'sy_rmagerr2', 'sy_imag', 'sy_imagerr1', 'sy_imagerr2', 'sy_zmag', 'sy_zmagerr1', 'sy_zmagerr2', 'sy_w1mag', 'sy_w1magerr1', 'sy_w1magerr2', 'sy_w2mag', 'sy_w2magerr1', 'sy_w2magerr2', 'sy_w3mag', 'sy_w3magerr1', 'sy_w3magerr2', 'sy_w4mag', 'sy_w4magerr1', 'sy_w4magerr2', 'sy_gaiamag', 'sy_gaiamagerr1', 'sy_gaiamagerr2', 'sy_icmag', 'sy_icmagerr1', 'sy_icmagerr2', 'sy_tmag', 'sy_tmagerr1', 'sy_tmagerr2', 'sy_kepmag', 'pl_nnotes', 'st_nphot', 'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec']

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,...,sy_tmag,sy_tmagerr1,sy_tmagerr2,sy_kepmag,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,...,3.83790,0.0071,-0.0071,NaN,2.0,1,2,0,0,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,3.82294,0.0075,-0.0075,NaN,0.0,1,1,0,0,0
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,4.32140,0.0073,-0.0073,NaN,0.0,1,1,0,0,0
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,...,5.86310,0.0060,-0.0060,NaN,0.0,1,4,1,0,0
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,...,5.62810,0.0060,-0.0060,6.095,5.0,1,4,3,0,0

In [12]:
# Estat√≠sticas descritivas das colunas num√©ricas
df.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,5483.0,2742.000000,1582.950094,1.0,1371.5,2742.0,4112.5,5483.0
pl_name,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hostname,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pl_letter,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hd_name,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
st_nphot,5483.0,0.387926,2.545460,0.0,0.0,0.0,0.0,70.0
st_nrvc,5483.0,0.227613,0.916422,0.0,0.0,0.0,0.0,12.0
st_nspec,5483.0,0.189860,0.949409,0.0,0.0,0.0,0.0,13.0
pl_nespec,5483.0,0.430604,22.979427,0.0,0.0,0.0,0.0,1689.0
pl_ntranspec,5483.0,1.084808,27.155314,0.0,0.0,0.0,0.0,1625.0

In [13]:
# Quantidade de valores nulos por coluna
df.isna().sum().sort_values(ascending=False).head(20)

pl_name                 5483
disc_facility           5483
hostname                5483
pl_letter               5483
hd_name                 5483
hip_name                5483
tic_id                  5483
gaia_id                 5483
discoverymethod         5483
disc_pubdate            5483
disc_locale             5483
disc_refname            5483
disc_telescope          5483
disc_instrument         5483
pl_bmassprov            5483
pl_orbtper_systemref    5483
pl_tranmid_systemref    5483
rastr                   5483
decstr                  5483
st_metratio             5483
dtype: int64

In [14]:
# N√∫mero de valores √∫nicos por coluna
df.nunique().sort_values(ascending=False).head(20)

rowid           5483
pl_orbper       5233
pl_tranmid      4216
ra              4084
elon            4084
dec             4084
elat            4083
glat            4082
glon            4082
st_dens         4022
sy_dist         4010
sy_pm           3874
sy_pmra         3870
sy_pmdec        3870
sy_pmerr1       3845
sy_pmdecerr1    3837
sy_pmerr2       3835
sy_pmdecerr2    3829
sy_pmraerr1     3825
sy_pmraerr2     3816
dtype: int64

In [15]:
# Tipos de dados por coluna
df.dtypes.value_counts()

float64    231
int64       10
Name: count, dtype: int64

In [16]:
df.columns.tolist()[:10]  # mostra os 10 primeiros nomes de coluna

['rowid',
 'pl_name',
 'hostname',
 'pl_letter',
 'hd_name',
 'hip_name',
 'tic_id',
 'gaia_id',
 'sy_snum',
 'sy_pnum']

In [17]:
df.sample(10, random_state=42)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,sy_snum,sy_pnum,...,sy_tmag,sy_tmagerr1,sy_tmagerr2,sy_kepmag,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
696,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,...,4.5071,0.006900,-0.006900,NaN,4.0,1,6,0,0,0
33,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,...,4.0850,0.008200,-0.008200,NaN,NaN,1,6,9,0,0
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,4.7812,0.006400,-0.006400,NaN,0.0,1,0,0,0,0
1253,1254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,...,5.2887,0.006100,-0.006100,NaN,0.0,1,0,0,0,0
4179,4180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,14.1636,0.006100,-0.006100,14.915,1.0,0,0,0,0,0
3586,3587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,...,14.9424,0.006700,-0.006700,15.565,1.0,0,0,0,0,0
401,402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,11.5232,0.008100,-0.008100,NaN,0.0,0,0,0,0,0
5028,5029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,10.6611,0.008500,-0.008500,NaN,0.0,0,0,0,0,0
3390,3391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4,...,14.4278,0.007400,-0.007400,14.925,1.0,0,0,0,0,0
1315,1316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,14.2787,0.007463,-0.007463,15.105,1.0,0,0,0,0,0

In [18]:
#C√≥digo para selecionar as 100 colunas mais relevantes

# Selecionar colunas com pelo menos 10 valores n√£o nulos
colunas_validas = df.dropna(axis=1, thresh=10)

# Remover colunas com baixa variabilidade
colunas_variaveis = colunas_validas.loc[:, colunas_validas.nunique() > 1]

# Selecionar as 100 primeiras colunas mais completas
colunas_top = colunas_variaveis.isna().sum().sort_values().index[:100]

# Criar amostra final com essas colunas
df_amostra = df[colunas_top].head(100)

In [19]:
df_amostra.head(10)  # mostra as 10 primeiras linhas da amostra

,rowid,sy_snum,sy_pnum,disc_year,pl_ntranspec,st_nrvc,st_nspec,pl_nespec,st_nphot,ra,...,st_denserr1,st_denserr2,pl_orbpererr1,pl_orbpererr2,st_meterr2,st_meterr1,pl_orbeccenlim,pl_orbeccen,sy_w2magerr2,sy_w1magerr2
0,1,2,1,2007,0,2,0,0,1,185.178779,...,NaN,NaN,0.32000,-0.32000,-0.090,0.090,0.0,0.231,NaN,NaN
1,2,1,1,2009,0,1,0,0,1,229.274595,...,NaN,NaN,3.20000,-3.20000,NaN,NaN,0.0,0.080,NaN,NaN
2,3,1,1,2008,0,1,0,0,1,352.824150,...,NaN,NaN,0.23000,-0.23000,-0.030,0.030,0.0,0.000,NaN,NaN
3,4,1,2,2002,0,4,1,0,1,242.602101,...,0.34953,-0.30728,1.67709,-1.87256,-0.047,0.047,0.0,0.373,NaN,NaN
4,5,3,1,1996,0,4,3,0,1,295.465642,...,0.29273,-0.20081,1.00000,-1.00000,NaN,NaN,0.0,0.680,-0.106,-0.236
5,6,1,1,2020,0,0,0,0,0,243.462087,...,NaN,NaN,2.01000,-2.09000,-0.100,0.100,0.0,0.060,NaN,NaN
6,7,2,1,2008,0,1,0,0,1,314.607838,...,NaN,NaN,3.20000,-3.20000,-0.023,0.023,0.0,0.080,-0.416,-0.373
7,8,1,1,2008,0,0,0,0,0,242.376234,...,0.18019,-0.10697,NaN,NaN,NaN,NaN,NaN,NaN,-0.020,-0.022
8,9,1,1,2018,0,0,0,0,1,217.155524,...,NaN,NaN,0.00780,-0.00770,-0.030,0.030,0.0,0.042,NaN,NaN
9,10,1,2,2010,0,2,1,0,1,155.868487,...,NaN,NaN,2.10000,-4.50000,-0.040,0.040,0.0,0.090,-0.156,-0.327

In [20]:
df_amostra.dtypes.value_counts()

float64    91
int64       9
Name: count, dtype: int64